body {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    width: auto;
}

nav {
    background-color: #91A8D0;
    display: flex;
    justify-content: space-between;
}

.links {
    margin: auto 0px;
}

.links a {
    color: white;
    margin: 0px 20px 0px 30px;
    text-decoration: none;
}

.logo img{
    margin: 0px 10px;
    width: 65px;
}

.background-img img {
    width: 100%;
}
footer {
    bottom: 0;
    width: 100%;
    align-items: baseline;
    background-color: #91A8D0;
    color: white;
}