body {
    font-family: "Alumni Sans", sans-serif;
    font-size: 25px;
    margin: auto;
    width: auto;
}

nav {
    background-color: #91A8D0;
    display: flex;
    justify-content: space-between;
}

.links {
    margin: auto 0px;
}

.links a {
    color: white;
    margin: 0px 20px 0px 30px;
    text-decoration: none;
}

.logo img{
    margin: 0px 10px;
    width: 65px;
}

.background-img img {
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    background-color: #91A8D0;
    color: white;
}

footer p {
    margin-bottom: 15px;
}

.socials {
    margin: 0px;
}

.socials img {
    margin: 0px 10px;
    width: 25px;
}
